@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body,a,i,h1,h2,h3,h4,h5,h6,tr,td,input{
  font-family: 'Outfit', sans-serif;
}

.nav-link{
  white-space:  nowrap !important;
  color: white !important;
}

.nav-item{
  padding-left: 20px;
  padding-right: 20px;
}
.navbar .container{
  margin-top: 2px ;
}

.video-container {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

video {
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}



* {
  box-sizing: border-box;
}


.video-container:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(black, .2);
  z-index: 1;
}


.callout {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  position: relative;
  z-index: 10;
}

.callout h1 {
  text-transform: uppercase;
  font-weight: 900;
  margin: 0 0 1rem;
  padding: 0;
  line-height: 1;
  font-family: Futura, Helvetica, sans-serif;
  font-size: 5vw;
}

.aboutus{
  background-color: rgba(255, 95, 21, 0.05);
  padding-bottom: 50px;
}
.aboutus .card{
  box-shadow: 0px 0px 10px rgba(255, 95, 21, 0.2);
  border: none;
}
.aboutus .card-body{
  min-height: 230px;
}

.teams{
  padding-top: 25px;
  padding-bottom: 25px;
}
.teams .card{
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  height:350px;
  overflow: hidden;
}
.teams img{
  height:350px;
  width:100%;
}
.teams .card-body{
  text-align: center;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top:250px;
  transition: margin-top 500ms linear;

}
.teams .card:hover .card-body{
  margin-top: 100px;
}
.teams .card-text{
  height: 50px;
}
.teams-btn{
  background-color: #FF5F15;
  height: 50px;
  width: 150px;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 300ms linear;
}
.teams-btn:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.arrow {
  border: solid 1px white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
#arrow-toggle{
  margin-left: 20px;
  transition: transform 300ms linear;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.teams-block{
  margin-left: auto;
  margin-right: auto;
}
.services{
  background-color: rgba(255, 95, 21, 0.05);
  padding-top: 50px;
  padding-bottom: 50px;
}
.icons{
  width: 50px;
  height: 50px;
  padding-right: 10px;
  border-color: gray;
}
.clients{
  background-color: #FF5F15;
  width: 100%;
  height: 100%;
}

.card-title{
  font-weight: 900;
}
.features{
  padding-left: 10px;
}
.features h5{
  line-height: 1;
  font-weight: 900;
}
.contactus{
  background-color: rgba(0, 0, 0, 0.9);
  padding-bottom: 50px;
  padding-top: 30px;
}
.discuss-btn{
  background-color: #FF5F15;
  padding: 10px 50px 10px 50px;
  color: white;
  border: none;
  transition: background-color 400ms linear;
  border-radius: 5px;
}
.discuss-btn:hover{
  background-color: transparent;
  border: 1px solid #FF5F15;
  color:#FF5F15;
}
.social{
  width:100%;
}
.social img{
  width:30px;
  height:30px;
}
.chat{
  position: fixed;
  background-color: #FF5F15;
  border-radius: 50%;
  padding: 5px;
  z-index: 20;
  bottom:0;
  right:0;
  width: 70px;
  height: 70px;
  text-align: center;
  padding: 12px 0px 12px 0px;
  margin-right: 5px;
  margin-bottom: 5px;
  box-shadow: 0px 10px 10px rgba(225, 95, 21, 0.3);
}
.chat:hover{
  opacity: 0.9;
}
.chat img{
  width: 50px;
  height: 50px;
}



.fadeSection {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.fadeSection.visible {
  opacity: 1;
  transform: translate(0, 0);
}

@media(max-width: 767px) {
  .navbar{
    background-color: #FF5F15 !important;
  }
  .nav-item{
    padding-left: 0px;
    padding-right: 20px;
  }
  .navbar .container{
    margin-top: 0px !important;
  }
  .video-container{
    height: 100vh;
  }
}

